*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    position: fixed;
    width: 100%;
}
.max-height{
    display: flex;
    height: 50px;
    width: 100vh;
    margin-top: 10px;
    align-items: center;
}
.back{
    display: flex;
    align-items: center;
    margin-left: 20px;
    position: absolute;
    left: 0%;
}
.menu{
    display: flex;
    list-style: none;
    color: grey;
    position: absolute;
    right: 0%;
    margin-right: 100px;
}
.menu-button{
    list-style: none;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.go-back{
    width: 18px;
    height: 20px;
    font-weight: 100;
    color: grey;
}
.text{
    margin-left: 5px;
    font-size: 16px;
}
#one,#two{
    margin-right: 40px;
}
.background{
    display: flex;
}
.left{
    width: 40%;
}
#leftImage{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
/* All the styling of the right side of the screen */
.right{
    width: 60%;
    right: 0%;
    padding-top: 15%;
    margin-left: 100px;
}
.line{
    width: 200px;
    height: 2px;
    margin-left: 10px;
    background: black;
}
.heading{
    font-size: 70px;
    font-weight: 400;
    margin-right: 200px;
}
.bySection{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.infoSection{
    display: flex;
}
.preview{
    width: 200px;
    position: relative;
}
.play{
    background: white;
    opacity: 80%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    
}
.preview-1{
    position: absolute;
    top: calc(50% - 12px);
    right: calc(50% - 12px);
}
.viewAllPhotos{
    display: flex;
    height: 15px;
    margin-top: 10px;
}
.viewAllPhotos:hover{
    right: 10px;
}
.viewAllHead{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.goForward{
    margin-left: 5px;
}
.rightSection{
    padding-left: 50px;
    padding-right: 100px;
    width: 450px;
}
.content{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .heading::after{
        content: "";
        display: grid;
        width: 100px;
        height: 5px;
        background: black;
        position: absolute;
        right: 0%;
        /* right: 0;
        position: absolute; 
} 
*/
 